<!DOCTYPE html>
<html>
<head>
	<title>Pitchforks</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/navbar.css">
</head>

<body>
<div class="container">

<!-- NAVIGATION SETUP -->
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">

				<!-- NAVIGATION RESPONSIVE TOGGLE -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#pitchforksnav">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
					<a class="navbar-brand" href="/">Pitchforks</a>
				</div>
				
				<!-- NAVIGATION LINKS -->
				<div class="collapse navbar-collapse" id="pitchforksnav">
					<ul class="nav navbar-nav">						
						<li><a href="/about">About</a></li>
					</ul>

					<!-- SEARCH FORM -->
					<form class="navbar-form navbar-left" name ="search" role="search" method="GET" action="/results">
      		  <div class="form-group">
      		    <input type="text" name='search' class="form-control" placeholder="Search for protests">
      		  </div>
      		  <button type="submit" class="btn btn-default">Find</button>
      		</form>

      		<!-- NAV RIGHT SIDE -->
					<ul class="nav navbar-nav navbar-right">
						<% if(user) { %>
          	  <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          	  <li><a href="/profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
          	  <li><a href="/protests"><span class="glyphicon glyphicon-plus"></span> Submit</a></li>
          	<% } else { %>          		     	  
          		<li><a href="/signup"><span class="glyphicon glyphicon-pencil"></span> Sign-Up</a></li>
          	  <li><a href="#" data-toggle="modal" data-target="#mylogin"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
              <li><a href="/auth/twitter"><img src="/sign-in-with-twitter-l.png" width="151" height="24"></a></li>
          	<% } %>
					</ul>
				</div>

			</div>
		</nav>
		
		<!-- MODAL LOGIN -->
		<div class="modal fade" id="mylogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">		Close</span></button>
		        <h4 class="modal-title" id="myModalLabel">Login</h4>
		      </div>
		      <div class="modal-body">      		
		      	<!-- LOGIN FORM -->
		        <form class="form" role="form" method="POST" action="/login">
							<div class="col-xs-6">
	  					  <div class="input-group">
	  					    <label class="sr" for="name">Username</label>
	  					    <input type="text" name="username" class="form-control" id="name" placeholder="Enter name" autofocus>
    						</div>
  						</div>
						  <div class="col-xs-6">
						    <label class="sr" for="pw">Password</label>
						    <input type="password" name="password" class="form-control" id="pw" placeholder="Password">
						  </div>
						  
						 	<button type="submit "class="btn btn-danger btn-lg">Login</button>		  	
						  
						</form>
		      </div>
		    </div>
		  </div>
		</div>

		<!-- HEADER LOGO AND TITLE -->
		<div class="protestbg jumbotron">
			<h1 id="title">Pitchforks</h1>
			<h3 id="slogan">The time is now</h3>
		</div>
		
		<!-- CartoDB map -->
    <button type="button" class="btn btn-success btn-lg btn-block green" data-toggle="collapse" data-target="#protests">Are you Ready?</button>
    <div id="protests" class="collapse">
      <iframe width='100%' height='520' frameborder='0' src='http://pitchforks.cartodb.com/viz/19448130-8616-11e4-9e46-0e018d66dc29/embed_map' allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
    </div>
	<p><a href="/about">See a historical timeline of protests</a></p>
  
  <!-- Protests from DB -->
	<h3>Current Protests</h3>
	<% var i = 0 %>

  <!-- COLUMN 1 -->
	<div class="col-sm-6">
		<% for (i; i < protests.length / 2; i++) { %>
			<!-- <div class="list-group"> -->
        <a href="/protests/<%= protests[i].event_id %>" class="list-group-item">
          <h4 class="event-title"><%= protests[i].name %></h4>
				  <p>
            <span class="glyphicon glyphicon-globe"></span>  <%= protests[i].location %>   
            <span class="glyphicon glyphicon-time"></span>   <%= protests[i].date %>
          </p>
          <p><%= protests[i].description %></p>
        </a>
      <!-- </div> -->
		<% } %>
	</div>

  <!-- COLUMN 2 -->
	<div class="col-sm-6">
		<% for (i; i < protests.length; i++) { %>
			<a href="/protests/<%= protests[i].event_id %>" class="list-group-item">
        <h4 class="event-title"><%= protests[i].name %></h4>
				<p>
          <span class="glyphicon glyphicon-globe"></span>  <%= protests[i].location %>   
          <span class="glyphicon glyphicon-time"></span>   <%= protests[i].date %>
        </p>
				<p><%= protests[i].description %></p>
      </a>
		<% } %>
	</div>

</div>
</body>
</html>